/* From Uiverse.io by cssbuttons-io */ 
button {
    --color: #F94A13;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    /* font-size: 17px; */
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 600px;
    width: 600px;
    border-radius: 50%;
  }
  
  button:hover {
    color: #fff;
    transition: all 0.7s;

  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  button:hover:before {
    top: -80px;
    left: -140px;
  }
  
  button:active:before {
    background: #F94A13;
    transition: background 0s;
  }
  